<nav *ngrxLet="width$ as width" [ngClass]="width">
  <button
    *ngIf="width === 'mobile' || width === 'tablet'"
    [cdkMenuPosition]="position"
    [cdkMenuTriggerFor]="menu"
  >
    <img
      alt="Burger Icon"
      class="burger-icon"
      src="../../assets/images/shared/tablet/icon-hamburger.svg"
    />
  </button>
  <img alt="Logo" src="../../assets/images/shared/desktop/logo.svg" />
  <img alt="Cart Icon" src="../../assets/images/shared/desktop/icon-cart.svg" />
</nav>

<ng-template #menu>
  <app-burger-menu></app-burger-menu>
</ng-template>
