<nav *ngrxLet="width$ as width" cdkMenu [ngClass]="width">
  <a *ngFor="let category of categories" cdkMenuItem>
    <img
      class="main-img"
      [alt]="mainImgAlt(category)"
      [ngStyle]="{
        marginBottom: widths[category].marginBottom,
        width: widths[category].width
      }"
      [src]="mainImgSrc(category)"
    />
    <div class="background">
      <span class="name">{{ category }}</span>
      <div class="shop">
        <span class="shop-word">SHOP</span>
        <img
          alt="Right Arrow Icon"
          class="arrow"
          src="../../../assets/images/shared/desktop/icon-arrow-right.svg"
        />
      </div>
    </div>
  </a>
</nav>
