<nav *ngrxLet="width$ as width" cdkMenu [ngClass]="width">
  <a *ngFor="let category of categories" cdkMenuItem>
    <img
      class="main-img"
      [alt]="mainImgAlt(category)"
      [src]="mainImgSrc(category, width)"
    />
    <div class="background">
      <img alt="Shadow" class="shadow" [src]="shadowImgSrc(width)" />
      <span class="name">{{ category }}</span>
      <div class="shop">
        <span class="shop-word">SHOP</span>
        <img
          alt="Right Arrow Icon"
          class="arrow"
          src="../../../assets/images/shared/desktop/icon-arrow-right.svg"
        />
      </div>
    </div>
  </a>
</nav>
