<nav *ngrxLet="width$ as width" cdkMenu [ngClass]="width">
  <a *ngFor="let category of categories" cdkMenuItem>
    <img
      class="main-img"
      [alt]="imgAlt(category)"
      [src]="imgSrc(category, width)"
    />
    <div class="background">
      <img alt="Shadow" src="../../../assets/images/menu/shadow.svg" />
      <span class="name">{{ category }}</span>
      <div class="shop">
        <span class="shop-word">SHOP</span>
        <img
          alt="Right Arrow Icon"
          src="../../../assets/images/shared/desktop/icon-arrow-right.svg"
        />
      </div>
    </div>
  </a>
</nav>
