.mobile {
  flex-direction: column;
  gap: 1rem;
}

.mobile .main-img {
  margin-bottom: -3.25rem;
}

.mobile .background {
  padding-bottom: 1.38rem;
}

.mobile .shadow {
  margin-block: -2px -10px;
}

.mobile .name {
  font-size: 0.94rem;
  letter-spacing: 1.07px;
  margin-bottom: 1.06rem;
}
